body{
     
     background-image:url("bg img.jpg");
     color:black; 
}

.contact
{
	padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
	max-width: 1000px;
    height: auto;
	background: grey;
    opacity:0.8;
	position: absolute;
	top: 20%;
    left:30%;
    text-align: center;
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
 td{
    padding: 15px;
    vertical-align: middle;
}
#submit{
    border-radius: 5px;
    background-color: black; 
    color:white;
}

#name{
     border-radius: 5px;
}
#phonenumber{
     border-radius: 5px;
}
#email{
    border-radius: 5px;
}
#message{
	border-radius: 5px;
}

@media only screen and (max-width:480px)
{
  .contact{
    max-width: 670px;
    top:auto;
    left:auto;
    right: auto;
  }

}

