*{
	box-sizing: border-box;
}

#submit{
    border-radius: 5px;
    background-color: black; 
    color: skyblue;
    width:100px;
    height:30px;	
}

#name{
     border-radius: 5px;
     width:150px;
     height:25px;
}
#phonenumber{
     border-radius: 5px;
     width:150px;
     height:25px;
}
#email{
    border-radius: 5px;
    width:150px;
    height:25px;
}
#message{
	border-radius: 5px;
	width:150px;
       
}

td{
    padding: 15px;
    vertical-align: middle;
}

hr{
	border-top: 3px solid skyblue;
	border-radius: 5px;
}
h4{
	color: skyblue;
}

body{
	background:url("bg img.jpg");
	font-size: 12px;
}

.background{
	display: flex;
	background-size:auto;
}
.container{
	margin: auto;
	background-color: #3e3e3e;
	border-radius: 15px;
	text-align: center;
        box-shadow: 0 20px 40px rgba(0,0,0,0.8);
        background-size:auto;
}  
    
.content{
	padding-right: 10px;
        padding-left: 10px;
	font-size:20px;
	font-family: "Times New Roman",Times, sans-serif;
	font-weight: 700;
	letter-spacing: 1.4;
	color: skyblue;
}
h1{
	font-size:40px;
	color: skyblue; 
	font-family: "Times New Roman",Times, sans-serif;

}
@media only screen and (max-width: 460px)
{
     .container{
		margin 0;
		padding: 0;
	}
}
